{
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "4"
            },
            "modules": false
          }
        ]
      ],
      "plugins": ["external-helpers", "transform-runtime"]
    },
    "test": {
      "presets": ["@ava/stage-4"],
      "plugins": [
        "istanbul",
        ["module-resolver", {
          "alias": {
            "protractor-jasmine2-parallel-html-reporter": "./lib/protractor-jasmine2-parallel-html-reporter.js",
            "fixtures": "./test/helpers/fixtures/index.js",
            "macros": "./test/helpers/macros/index.js",
            "mocks": "./test/helpers/mocks/index.js",
            "spies": "./test/helpers/spies/index.js",
            "stubs": "./test/helpers/stubs/index.js"
          }
        }]
      ]
    }
  }
}
